<LTMenu current_profile="1" dwlab_version="1.4.11">
	<TList field="profiles">
		<TGameProfile id="1" language="Russian" audio="DirectSound" video="DirectX7" width="1280" height="1024" depth="32" frequency="75" x_resolution="1216" y_resolution="912" next-balls="2,3,3" balls-in-line="5" balls-per-turn="3">
			<LTTileMap field="field" x="8.5000099" y="4.8700099" width="13.0000099" height="9.7500099" xquantity="13" yquantity="13" tiles-quantity="11">
				<TList field="parameters">
					<LTParameter name="name" value="Field"/>
				</TList>
				<TFieldVisualizer field="visualizer" dy="0.10000792" yscale="1.25000792"/>
				<LTTileSet field="tileset" name="Default" tiles-quantity="11" block-width="0,0,0,0,0,0,0,0,0,0,0" block-height="0,0,0,0,0,0,0,0,0,0,0" empty-tile="0">
					<LTImage field="image" filename="field.png" xcells="11"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5000099" y="0.5000099" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="7,2,2,1,1,1,1,1,1,1,2,2,7"/>
				<Row data="2,2,1,1,1,1,1,1,1,1,1,2,2"/>
				<Row data="2,1,1,1,1,1,1,1,1,1,1,1,2"/>
				<Row data="1,1,1,1,1,1,1,1,1,1,1,1,1"/>
				<Row data="1,1,1,1,1,1,2,1,1,1,1,1,1"/>
				<Row data="1,1,1,1,1,2,1,2,1,1,1,1,1"/>
				<Row data="1,1,1,1,2,1,0,1,2,1,1,1,1"/>
				<Row data="1,1,1,1,1,2,1,2,1,1,1,1,1"/>
				<Row data="1,1,1,1,1,1,2,1,1,1,1,1,1"/>
				<Row data="1,1,1,1,1,1,1,1,1,1,1,1,1"/>
				<Row data="2,1,1,1,1,1,1,1,1,1,1,1,2"/>
				<Row data="2,2,1,1,1,1,1,1,1,1,1,2,2"/>
				<Row data="7,2,2,1,1,1,1,1,1,1,2,2,7"/>
			</LTTileMap>
			<LTTileMap field="balls" x="8.5000099" y="4.8700099" width="13.0000099" height="9.7500099" visible="0" xquantity="13" yquantity="13" tiles-quantity="13">
				<TList field="parameters">
					<LTParameter name="name" value="Balls"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25000792" yscale="1.25000792"/>
				<LTTileSet field="tileset" id="28" name="Balls" tiles-quantity="13" block-width="0,0,0,0,0,0,0,0,0,0,0,0,0" block-height="0,0,0,0,0,0,0,0,0,0,0,0,0" empty-tile="0">
					<LTImage field="image" filename="balls.png" xcells="13"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="0,6,4,4,0,0,0,0,0,7,5,4,0"/>
				<Row data="4,4,7,0,0,0,0,0,0,0,2,4,5"/>
				<Row data="5,1,0,0,0,0,0,0,0,2,0,4,2"/>
				<Row data="6,0,0,6,0,0,0,0,0,0,0,0,2"/>
				<Row data="0,0,0,0,0,5,3,4,0,0,0,0,0"/>
				<Row data="0,0,0,0,6,2,8,3,5,0,0,0,2"/>
				<Row data="0,0,0,0,7,8,0,8,5,0,0,0,0"/>
				<Row data="0,0,0,0,2,1,8,3,4,0,0,0,0"/>
				<Row data="0,0,0,0,0,1,4,1,0,0,0,0,0"/>
				<Row data="1,0,0,0,0,0,0,0,0,0,0,0,1"/>
				<Row data="5,7,0,0,0,0,0,0,0,0,0,5,7"/>
				<Row data="3,5,1,0,0,0,0,0,0,0,4,3,7"/>
				<Row data="0,2,5,3,0,0,0,0,0,7,4,2,0"/>
			</LTTileMap>
			<LTTileMap field="modifiers" x="8.5000099" y="4.8700099" width="13.0000099" height="9.7500099" xquantity="13" yquantity="13" tiles-quantity="13">
				<TList field="parameters">
					<LTParameter name="name" value="Modifiers"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.2500099" yscale="1.25000792"/>
				<Object field="tileset" id="28"/>
				<Row data="0,0,0,11,0,0,0,0,0,12,0,0,0"/>
				<Row data="0,0,11,0,0,0,0,0,0,0,12,0,0"/>
				<Row data="0,11,0,0,0,0,0,0,0,0,0,12,0"/>
				<Row data="11,0,0,0,0,0,0,0,0,0,0,0,12"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="12,0,0,0,0,0,0,0,0,0,0,0,11"/>
				<Row data="0,12,0,0,0,0,0,0,0,0,0,11,0"/>
				<Row data="0,0,12,0,0,0,0,0,0,0,11,0,0"/>
				<Row data="0,0,0,12,0,0,0,0,0,11,0,0,0"/>
			</LTTileMap>
			<TList field="goals">
				<TPutBallsInHoles count="4"/>
			</TList>
			<LTButtonAction name="Boss key">
				<LTKeyboardKey code="90"/>
			</LTButtonAction>
			<LTButtonAction name="Exit to menu">
				<LTKeyboardKey code="27"/>
			</LTButtonAction>
		</TGameProfile>
	</TList>
</LTMenu>
