<LTMenu current_profile="1" dwlab_version="1.4.10">
	<TList field="profiles">
		<TGameProfile id="1" name="Matt" language="English" audio="DirectSound" video="DirectX7" width="1280" height="1024" depth="32" frequency="75" x_resolution="1216" y_resolution="912" next-balls="4,3,4" score="132" balls-in-line="4" balls-per-turn="3">
			<LTTileMap field="field" x="12.5" y="8.83" width="19" height="14.25" xquantity="19" yquantity="19" tiles-quantity="16">
				<TList field="parameters">
					<LTParameter name="name" value="Field"/>
				</TList>
				<TFieldVisualizer field="visualizer" xscale="1.25" yscale="2"/>
				<LTTileSet field="tileset" name="Default" tiles-quantity="16" block-width="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" block-height="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" empty-tile="0">
					<LTImage field="image" filename="field.png" xcells="8" ycells="2"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="0,0,0,0,0,0,0,0,5,4,5,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,1,2,3,2,1,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,1,2,1,1,1,1,1,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0"/>
				<Row data="0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0"/>
				<Row data="0,0,0,1,1,1,1,1,1,1,1,1,1,1,2,1,0,0,0"/>
				<Row data="5,0,0,1,1,1,1,1,1,1,1,1,1,1,1,2,0,0,1"/>
				<Row data="4,4,4,3,1,1,1,1,1,1,1,1,1,1,1,3,3,3,3"/>
				<Row data="5,0,0,1,1,1,1,1,1,1,1,1,1,1,1,2,0,0,1"/>
				<Row data="0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0"/>
				<Row data="0,0,0,0,1,1,1,1,1,1,1,1,1,2,1,0,0,0,0"/>
				<Row data="0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,1,1,3,1,1,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,1,3,1,0,0,0,0,0,0,0,0"/>
			</LTTileMap>
			<LTTileMap field="balls" x="12.5" y="8.83" width="19" height="14.25" visible="0" xquantity="19" yquantity="19" tiles-quantity="16">
				<TList field="parameters">
					<LTParameter name="name" value="Balls"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25" yscale="2.66"/>
				<LTTileSet field="tileset" name="Balls" tiles-quantity="16" block-width="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" block-height="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" empty-tile="0">
					<LTImage field="image" filename="balls.png" xcells="8" ycells="2"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,6,5,3,2,3,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,8,5,3,0,0,0,8,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,2,0,0,0,0,0,0,0,2,0,0,0,0,0"/>
				<Row data="0,0,0,0,7,6,4,0,1,3,0,0,0,0,8,0,0,0,0"/>
				<Row data="0,0,0,2,6,0,0,0,0,0,0,0,0,3,1,2,0,0,0"/>
				<Row data="0,0,0,0,6,1,0,0,0,1,0,0,0,1,1,3,0,0,0"/>
				<Row data="2,3,5,5,5,0,7,1,0,10,0,0,7,0,0,0,0,0,0"/>
				<Row data="0,0,0,1,4,6,6,0,3,2,0,0,0,0,0,1,0,0,0"/>
				<Row data="0,0,0,7,0,1,1,0,3,1,4,0,0,0,3,0,0,0,0"/>
				<Row data="0,0,0,0,2,2,0,1,7,0,3,1,2,2,8,0,0,0,0"/>
				<Row data="0,0,0,0,0,4,0,0,0,0,6,1,4,1,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,7,1,2,0,0,0,3,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,2,0,4,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0"/>
			</LTTileMap>
			<LTTileMap field="modifiers" x="12.5" y="8.83" width="19" height="14.25" xquantity="19" yquantity="19" tiles-quantity="4">
				<TList field="parameters">
					<LTParameter name="name" value="Modifiers"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25" yscale="2.66"/>
				<LTTileSet field="tileset" name="Modifiers" tiles-quantity="4" block-width="0,0,0,0" block-height="0,0,0,0">
					<LTImage field="image" filename="modifiers.png" xcells="4"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,3,3,0,3,3,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,3,3,0,0,0,0,3,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,3,0,0,0,0,0,0,0,3,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0"/>
				<Row data="0,0,0,3,0,0,0,0,0,0,0,0,0,3,3,3,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,3"/>
				<Row data="3,3,3,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0"/>
				<Row data="0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,3,0,3,0,0,0,0,0,0,0,0"/>
			</LTTileMap>
			<TList field="goals">
				<TPutBallsInHoles count="4"/>
			</TList>
			<LTButtonAction name="Boss key">
				<LTKeyboardKey code="90"/>
			</LTButtonAction>
			<LTButtonAction name="Exit to menu">
				<LTKeyboardKey code="27"/>
			</LTButtonAction>
		</TGameProfile>
	</TList>
	<TList field="high_scores">
		<LTHighScore score="15" name="Matt"/>
		<LTHighScore score="10" name="Matt"/>
	</TList>
</LTMenu>
