<LTMenu current_profile="1" dwlab_version="1.4.11">
	<TList field="profiles">
		<TGameProfile id="1" name="Matt" language="Russian" audio="DirectSound" video="OpenGL" width="1280" height="1024" depth="32" frequency="75" sound_volume="0.82500891" music_volume="0.79375891" x_resolution="1216" y_resolution="912" next-balls="5,4,4" balls-in-line="5" balls-per-turn="3">
			<LTTileMap field="balls" x="8.50000297" y="4.87000297" width="13.00000297" height="9.75000297" visible="0" xquantity="13" yquantity="13" tiles-quantity="16">
				<TList field="parameters">
					<LTParameter name="name" value="Balls"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25000297" yscale="2.66000297"/>
				<LTTileSet field="tileset" name="Balls" tiles-quantity="16" block-width="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" block-height="0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0" empty-tile="0">
					<LTImage field="image" filename="balls.png" xcells="8" ycells="2"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="1,2,0,0,0,6,7,4,3,5,7,5,0"/>
				<Row data="1,5,5,1,2,7,0,0,7,0,7,1,0"/>
				<Row data="6,5,0,4,3,1,1,6,2,2,3,0,0"/>
				<Row data="7,0,1,0,3,3,4,0,6,0,0,0,0"/>
				<Row data="0,2,0,0,3,0,3,1,0,0,6,0,0"/>
				<Row data="0,1,1,0,3,6,0,0,0,0,0,0,0"/>
				<Row data="0,6,0,0,4,0,0,0,0,0,0,0,6"/>
				<Row data="2,0,5,0,3,2,6,2,0,0,0,1,5"/>
				<Row data="0,0,0,0,6,7,0,0,0,5,1,0,1"/>
				<Row data="3,0,6,0,5,1,1,0,0,0,0,0,3"/>
				<Row data="0,2,5,0,0,6,0,3,5,6,2,6,7"/>
				<Row data="0,7,6,5,0,0,1,1,0,0,0,0,2"/>
				<Row data="0,2,4,4,3,0,0,1,0,1,7,7,0"/>
			</LTTileMap>
			<LTTileMap field="modifiers" x="8.50000297" y="4.87000297" width="13.00000297" height="9.75000297" xquantity="13" yquantity="13" tiles-quantity="4">
				<TList field="parameters">
					<LTParameter name="name" value="Modifiers"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25000297" yscale="2.66000297"/>
				<LTTileSet field="tileset" name="Modifiers" tiles-quantity="4" block-width="0,0,0,0" block-height="0,0,0,0">
					<LTImage field="image" filename="modifiers.png" xcells="4"/>
					<ShapeArray field="collision-shapes">
						<Null/>
						<Null/>
						<Null/>
						<Null/>
					</ShapeArray>
				</LTTileSet>
				<Row data="3,0,0,0,0,0,0,0,0,2,3,3,3"/>
				<Row data="3,3,1,0,0,0,0,0,0,0,2,3,0"/>
				<Row data="3,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="1,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,3,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,3,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,3,3,0,3,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,0"/>
				<Row data="0,0,0,0,0,0,0,0,0,0,0,0,1"/>
				<Row data="0,2,0,0,0,0,0,0,0,0,0,1,3"/>
				<Row data="0,3,2,0,0,0,0,0,0,0,0,0,3"/>
				<Row data="3,3,3,2,0,0,0,0,0,0,3,0,3"/>
			</LTTileMap>
			<LTButtonAction name="Boss key">
				<LTKeyboardKey code="90"/>
			</LTButtonAction>
			<LTButtonAction name="Exit to menu">
				<LTKeyboardKey code="27"/>
			</LTButtonAction>
		</TGameProfile>
	</TList>
	<TList field="high_scores">
		<LTHighScore score="142" name="Matt"/>
		<LTHighScore score="82" name="Matt"/>
	</TList>
</LTMenu>
