<LTMenu current-profile="1" audio="DirectSound" video="DirectX7" dwlab_version="1.4.32" total-loading-time="0">
	<TList field="profiles">
		<TGameProfile id="1" name="{{P_Player}}" language="Russian" width="1280" height="800" depth="32" frequency="60" repeat="0" x-resolution="1216" y-resolution="706" first-locked-level="Level_1_2" level="Level_1_2" next-balls="4,3,5" balls-in-line="3" balls-per-turn="3" total-balls="7" show-next-balls="1" time="3.15999999" turns="1" turn-time="3.15999999">
			<LTTileMap field="field" x="11.5000275" y="7.45502908" width="13.00002165" height="12.00002823" xquantity="13" yquantity="16" tiles-quantity="33">
				<TList field="parameters">
					<LTParameter name="name" value="Field"/>
				</TList>
				<TFieldVisualizer field="visualizer" dy="0.1" yscale="1.25001"/>
				<LTTileSet field="tileset" name="Default" tiles-quantity="33" empty-tile="0">
					<LTImage field="image" filename="images\fields.png" xcells="11" ycells="3" loading-time="5"/>
					<Array field="collision-shapes" size="33">
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="1">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="2">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="3">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="4">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="5">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2" index="6">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.5" y="0.5" shape="2" index="7">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="12">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="13">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="14">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="15">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="16">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="17">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="18">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="19">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="20">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="21">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
						<LTSprite x="0.50002999" y="0.50002999" shape="2" index="22">
							<LTVisualizer field="visualizer"/>
						</LTSprite>
					</Array>
					<LTTileCategory name="Category 1">
						<LTTileRule tilenums="0"/>
					</LTTileCategory>
					<LTTileCategory name="Category 2">
						<LTTileRule tilenums="0">
							<LTTilePos dx="-1"/>
							<LTTilePos dy="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="1"/>
							<LTTilePos dy="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dy="-1"/>
							<LTTilePos dx="-1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dy="-1"/>
							<LTTilePos dx="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dy="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dy="-1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="-1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="-1" dy="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="1" dy="1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="-1" dy="-1"/>
						</LTTileRule>
						<LTTileRule tilenums="0">
							<LTTilePos dx="1" dy="-1"/>
						</LTTileRule>
						<LTTileRule tilenums="0"/>
					</LTTileCategory>
				</LTTileSet>
			</LTTileMap>
			<LTTileMap field="balls" x="11.5000275" y="7.45502908" width="13.00002165" height="12.00002823" visible="0" xquantity="13" yquantity="16" tiles-quantity="14">
				<TList field="parameters">
					<LTParameter name="name" value="Balls"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25002996" xscale="0.90000999" yscale="1.23001"/>
				<LTTileSet field="tileset" id="78" name="Balls" tiles-quantity="14" empty-tile="0">
					<LTImage field="image" filename="images\balls.png" xcells="14" loading-time="5"/>
					<Array field="collision-shapes" size="14"/>
				</LTTileSet>
			</LTTileMap>
			<LTTileMap field="modifiers" x="11.50002905" y="7.455" width="13.00002435" height="12.00005326" xquantity="13" yquantity="16" tiles-quantity="14">
				<TList field="parameters">
					<LTParameter name="name" value="Modifiers"/>
				</TList>
				<LTVisualizer field="visualizer" dy="-0.25002996" yscale="2.66002999"/>
				<Object field="tileset" id="78"/>
			</LTTileMap>
			<TList field="goals">
				<TGetScore count="40"/>
			</TList>
			<Map field="scores">
				<Pair value="50" key="Level_1_1"/>
			</Map>
			<TList field="pool">
				<TPoolObject num="9" percent="100"/>
			</TList>
			<LTButtonAction field="skip-turn" name="Skip turn">
				<LTKeyboardKey code="32"/>
			</LTButtonAction>
			<LTButtonAction field="exit-to-menu" name="Exit to menu">
				<LTKeyboardKey code="27"/>
			</LTButtonAction>
			<LTButtonAction field="boss-key" name="Boss key">
				<LTKeyboardKey code="90"/>
			</LTButtonAction>
		</TGameProfile>
	</TList>
	<Map field="high-scores">
		<LTLayer key="Level_1_1">
			<LTVisualizer field="visualizer"/>
			<LTHighScore score="50" name="Игрок"/>
		</LTLayer>
	</Map>
</LTMenu>
